.tablestyle
{
    
    margin-top: 50px;
    margin-left:400px;
}

.trstyle
{
    border:1px solid black;
    padding-left: 30px;
    padding-right: 30px;
}

.buttonstyle
{
    margin-top: 20px;
    margin-left: 500px;
}